
 
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    background-color: lightblue;
}

ul li{
    list-style: none;
}

@media(max-width:480px){
    .navigation{
        width: inherit;
    }
    .logo{
        background-color: yellow;
        border-radius: 10px;
    }

    .imagem-logo{
        justify-content: center;
        width: 50px;
        height: 50px;
    }

    .titulo-logo{
        text-align: center;
        margin: 0;
    }

    .menu-box {
        display: none;
    }

    nav .menu {
        display: inline-block;
        padding: 0.5em;
        text-decoration: none;
        cursor: pointer;
        width: 100%;
        background-color: rgb(227, 186, 108);
    }

    nav .menu:hover {
        background-color: rgb(227, 186, 108);
        color: #000000;
    }

    #menu-box:checked ~ #menu-menu {
        display: block;
    }

    #menu-menu {
        display: none;
        background-color: rgb(227, 186, 108);
        color: #000000;
    }

    #menu-menu ul {
        margin: 0;
        padding: 0;
    }

    #menu-menu li {
        display: block;
    }

    #menu-menu a {
        display: block;
        padding: 0.5em;
        text-decoration: none;
    }

    .input{
        padding: 0.5em;
        margin-top:2%;
        margin-bottom: 2%;
        width: 100%;
        background-color: rgb(218, 151, 151);
        border-radius: 3px;
        text-align: center;
    }

    .links{
        width: 100%;
        background-color: aquamarine;
        height: 40vh;
        border-radius: 10px;
    }

    .text{
        text-align: justify;
        background-color: gray;
        border-radius: 10px;
    }

    footer{
        background-color: #000000;
        color: azure;
    }
    a{
        color: azure;
    }

}

@media(min-width:481px), (max-width:768px){

}

@media(min-width:769px){

} 
